<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <title><%=title%></title>
</head>

<body>
    <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
    <script>
        new Chart("myChart", '<%=data%>')
    </script>
</body>

</html>